.hero {
  padding: 144px 40px 95px;
  //   padding-top: 144px;
  //   padding-bottom: 95px;
  width: 100%;
  margin: 0 auto;
  background-image: url("/images/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  font-weight: 300;
  font-size: 52px;
  line-height: calc(66 / 52);

  text-align: center;

  color: $light;
}
.hero__subtitle {
  font-size: 22px;
  line-height: calc(37 / 22);
  text-align: center;
  color: $light;
}
.hero__button {
  padding: 10px 30px;
  font-size: 16px;
  background-color: $green;
  line-height: calc(26 / 16);
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
