.hero {
  position: relative;
  background-color: $default-gray;
  padding-top: 144px;
  padding-bottom: 95px;
  width: 100%;
  margin: 0 auto;
  background-image: url("./../images/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("./../images/bg-mobile-x2.jpg");
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 16px;
  width: 240px;
  font-weight: 300;
  font-size: 52px;
  line-height: calc(66 / 52);
  text-align: center;
  color: $light;
}
.hero__subtitle {
  width: 240px;
  font-size: 22px;
  line-height: calc(37 / 22);
  text-align: center;
  color: $light;
  margin: auto;
  margin-bottom: 27px;
}
.hero__button {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 16px;
  background-color: $green;
  line-height: calc(26 / 16);
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color $time $cubic, box-shadow $time $cubic;
  &:hover,
  &:focus {
    background-color: $button-active-green;
    box-shadow: $shadow-btn;
  }
}
.hero__icon {
  fill: $white;
  display: block;
}

.hero__snow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: radial-gradient(white, rgba(255, 255, 255, 0.01));
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  animation: snowfall 5s linear infinite;
}

@for $i from 1 through 100 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), calc(533px + 5vh), 0);
  }
}

@media screen and (min-width: 320px) {
  .hero {
    background-image: url("./../images/bg-tablet.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url("./../images/bg-tablet-x2.jpg");
    }
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: min(100%, 768px);
    padding-top: 407px;
    padding-bottom: 412px;
    // background-image: url("/images/bg-desktop.jpg");
  }
  .hero__title {
    font-size: 55px;
    line-height: calc(66 / 55);
    width: auto;
    margin-bottom: 25px;
  }

  .hero__subtitle {
    width: auto;
    margin-bottom: 29px;
  }

  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), calc(1024px + 5vh), 0);
    }
  }
  @for $i from 1 through 150 {
    .snowflake:nth-child(#{$i}) {
      --size: #{random(5) * 0.15}vw;
      --left-ini: #{random(20) - 10}vw;
      --left-end: #{random(20) - 10}vw;
      left: #{random(100)}vw;
      animation: snowfall #{5 + random(10)}s linear infinite;
      animation-delay: -#{random(10)}s;
    }
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    width: min(100%, 1360px);
    padding-top: 279px;
    padding-bottom: 284px;
    background-image: url("./../images/bg-desktop.jpg");
  }
  .hero__title {
    width: auto;
  }

  .hero__subtitle {
    width: auto;
  }
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), calc(768px + 5vh), 0);
    }
  }
  @for $i from 1 through 200 {
    .snowflake:nth-child(#{$i}) {
      --size: #{random(5) * 0.1}vw;
      --left-ini: #{random(20) - 10}vw;
      --left-end: #{random(20) - 10}vw;
      left: #{random(100)}vw;
      animation: snowfall #{5 + random(10)}s linear infinite;
      animation-delay: -#{random(10)}s;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url("./../images/bg-desktop-x2.jpg");
    }
  }
}
